<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lila Rodrigues Bolos Artísticos</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/css.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Julius+Sans+One|Sacramento" rel="stylesheet">
</head>
<body>
    <section class="sections" id="init1">
        <div id="menu">
            <ul>
                <li id="inicio">
                    <a href="inicio.html">Início</a>
                </li>
                <li id="sobre">
                    <a href="sobre.html" >Sobre</a>
                </li>
                <li id="bolos">
                    <a href="bolos.html">Bolos</a>
                </li>
                <li id="contato">
                    <a href="contato.html">Contato</a>
                </li>
                <li id="cadastro">
                    <a>Cadastro</a>
                </li>
            </ul>
        </div>
        <img id="logo" src="img/logopaintnet.png">
        <h1 class="textTop" id="title">Lila Rodrigues</h1>
        <h1 class="textTop" id="subtitle">Bolos Artísticos</h1><br>
        
        <h1  class="textOpenFeed">Cadastro</h1>


    </section>

    <section id="formulario">
        <p class="feedText1" id="encomenda">Insira suas informações</p><br><br>
        <form action="demo_form.asp" id="selec">
            <p class="feedText2" id="nome">Nome: </p>         <input type="text" name="nm" size="50px"><br>
            <p class="feedText2" id="email">E-mail: </p>      <input type="text" name="eml" size="50px"><br>
            <p class="feedText2" id="telefone">Telefone:</p>  <input type="tel" name="tel" size="50px" id="telef"><br>
            <p class="feedText2" id="mensagem">Mensagem: </p> 
            <textarea rows="8" cols="50">
            </textarea>
            <br>
            <button style="font-family: 'Julius Sans One', sans-serif" href="#"> Enviar Mensagem </button>
        </form>
    </section>

</body>
</html>